* {
                margin:0px;
                padding:0px;

             }

             body{
                background: url(fondo1.jpg) no-repeat center center fixed #2b2b2a;
                background-position: center ;
                background-size: fixed;
                -moz-background-size: cover;
                -webkit-background-size: cover;
             }
              form button:hover{
                background: #3a3a3a
              }
              form button{
                width: 135px;
                margin: 20px 0px 30px 30px;
                height: 50px;
                border: 1px solid #232323;
                color:#fff;
                background: rgb(44,83,158); /* Old browsers */
                background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */



 
                box-shadow: 0px 2px 0px #000;
                -moz-box-shadow: 0px 2px 0px #000;
                -webkit-box-shadow: 0px 2px 0px #000;
                border-radius:3px;
                -moz-border-radius:3px;
                -webkit-border-radius:3px;
              }

              form button:active{
                background: rgb(53,106,160); /* Old browsers */
                background: -moz-linear-gradient(top,  rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,106,160,1)), color-stop(100%,rgba(53,106,160,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */



              }
              form input{
                width:280px;
                height: 35px;
                padding: :0px 10px;
                margin: 10px 35px;
                color: #6d6d6d;
                text-align:center;
              } 
              form label{
                margin: 20px 0px 30px 30px;

              }
              
              form h1{
                text-align: center;
                color:#fff;
                font-weight: normal;
                font-size: 40pt;
                margin: 30px 0px;
                font-family: 'Merienda One', cursive;
                }

              form{
                
                background-color: rgb(218,130,29) ;
                width: 360px;
                position: absolute;
                right: 5px;
                top: 100px;
                border: 1px solid #4e4d4d;
                border-radius:3px;
                -moz-border-radius:3px;
                -webkit-border-radius:3px;
            {
             }